
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-size: 18px;
    box-sizing: inherit;
    min-height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    overflow: auto;
}

.header{
    
    height: 20%;
   position: relative;
}

.input-bar{
    border: none;
    padding-right:70px;
    padding-left: 20px;
    padding-block: 10px;
    border-radius: 10px 0 0 10px;
}

.title{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%)
}

.icon-arrow{
    border-radius: 0px  10px 10px 0px;
    width: 40px;
}
.location-card{
    display: flex;
   align-items: center;
   justify-content: center;
    background: gray;
   /* width: 70%; */
   margin-top: -60px;
   max-width: 80%;
   min-height: 130px;
   position: relative;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    padding: 30px;
}

.info-block{
    border-right: 1px solid red;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 15px;
}
#map{
    height: 300px;
    width: 100%;
}

/*105.161.17.89*/
/* at_VZAf27J07ijq1T2TCq4Tq7AYsV3mN */